@media only screen and (min-width: 1920px) {
  /* Desktop */


  h1 {
    font-size: 8rem;
    padding-top: 1rem;
  }

  .mainmenu {
    font-size: 2rem;
  }

.opened {
  width: 400px;
}
  .titleblock3 {

    height: 15vh;
    /* border-bottom: 1px solid black; */
  }

  .titleblock3 > h1  {
    font-size: 8rem;
  }
  .titleblock {
    border-bottom: 0.5px solid black;
  }
  .squareblock {
    width: 123px;
   height: 132px;
   border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}
.roundbutt, #side-cart {
  margin-left: 3.5px;
      margin-top: 6px;
  width: 114px;
 height: 114px;
}
#side-cart-btn {
  margin: 0 5.8rem;
}

.dot {
  right: 3rem;
}
.dot2 {
	top: 3.2rem;
  right: 3rem;
}

.dot3 {
	top: 7.5rem;
  right: 3rem;
}

.dot4 {
	top: 12rem;
  right: 3rem;
}

.another-h4 {
  font-size: 1.2rem;
}
.cart {
  width: 435px;
}

.item-up .item-down {
  width: 280px;
}
.item-card {
  padding-left: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

.re> div, .ae > div, .be > div, .ce > div, .de > div, .ee > div, .fe > div, .ge > div,
.he > div, .ie > div, .je > div, .ke > div, .le > div {
  width: 25%;

}
.buttext {

	font-size: 14px;
  text-align: center;
  color: black;
  padding-top: 45%;
}

.about {
	position: relative;

  width:25vw;
	height: 12vh;
	background-color: white;
	margin-bottom: 2%;

}

.a {
	padding-top: 4vh;
	padding-left: 2vw;
	display: inline-block;
}
.b {
	padding-top: 2vh;
	padding-left: 2vw;

}
.tablichka {
	position: absolute;
	right: 2%;
	top: 22%;
	width: 28%;
	height: 55%;
	z-index: 10;
}
.afisha {
	position: relative;
	display: block;
  width:25vw;
  height: 8vh;
	background-color: white;

	margin-bottom: 2%;
}

.map {
	position: relative;
	display: block;
  width: 25vw;
	height: 12vh;
	background-color: white;

}

.arrow {
	position: absolute;
	width: 40px;
	height: 40px;
}
.buttext1 {

	font-size: 14px;
  text-align: center;
  color: black;
}
.icon-glav {
  width: 281px;
 height: 136px;
}
.m0 {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.buttext2 {

	font-size: 14px;
  text-align: center;
  color: black;
  padding-top: 38%;
}

.recblock {
  width: 187px;
 height: 132px;
 border-left: 0.5px solid black;
}
nav {
height: 132px;

}
.gline {
  position: relative;
  width: 187px;

  background-color: black;
}

.side-button {
  width: 194px;
  height: 65.5px;
}

.vline {
  height: 136px;
  width: 0.5px;
}

.item-mt {
font-size: 1.8rem;
}

}


@media only screen and (min-device-width: 760px)
and (max-device-width: 1024px) {
  /* iPad */
  #nubexVideo {
  height: 100%;
  width: auto;
  }

  .about {
    width: 45vw;
height: 9vh;
  }

  .afisha {
    width: 45vw;
height: 9vh;
  }


.map {
  width: 45vw;
height: 14vh;
}


  .tablichka {
    width: 50%;

  }

  .a {
    padding-top: 3vh;
  }


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
  /* iPad Landscape */
  #nubexVideo {

  min-height: 90%;
  min-width: 100%;

  }



}

@media only screen and (min-device-width: 767px) and (max-device-width: 1180px) and (orientation: portrait) {
  /* iPad Portrait */

  #nubexVideo {

  }



  .tablichka {
    right: 1%;

  }
}




@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
and (orientation: portrait) {
  /* iPhone Portrait */

  .about {
    width: 44vw;
  }

  .squareblock {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
