@media only screen and (min-width: 1920px) {
  /* Desktop */
  .titleblock {
    border-bottom: 1.5px solid black;
  }
  .squareblock {
    width: 123px;
   height: 136px;
   border-left: 1.5px solid black;
  border-right: 1.5px solid black;
}
.roundbutt {
  margin-left: 1.5px;
  width: 114px;
 height: 114px;
}

.re, .ae {

  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}


.roundbutt {
  margin-top: 4px;
  border: 3px solid black;
}
.buttext {

	font-size: 14px;
  text-align: center;
  color: black;
  padding-top: 45%;
}

.about {
	position: relative;

  width:25vw;
	height: 12vh;
	background-color: white;
	border: 3px solid black;
	margin-bottom: 2%;

}

.mainmenu {
  font-size: 50px;

}
.a {
	padding-top: 4vh;
	padding-left: 2vw;
	display: inline-block;
}
.b {
	padding-top: 2vh;
	padding-left: 2vw;

}
.tablichka {
	position: absolute;
	right: 2%;
	top: 22%;
	width: 28%;
	height: 55%;
	z-index: 10;
}
.afisha {
	position: relative;
	display: block;
  width:25vw;
  height: 8vh;
	background-color: white;
	border: 3px solid black;
	margin-bottom: 2%;
}

.map {
	position: relative;
	display: block;
  width:25vw;
	height: 12vh;
	background-color: white;
	border: 3px solid black;
}

.arrow {
	position: absolute;
	width: 40px;
	height: 40px;
}
.buttext1 {

	font-size: 14px;
  text-align: center;
  color: black;
}
.icon-glav {
  width: 281px;
 height: 136px;
}
.m0 {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.buttext2 {

	font-size: 14px;
  text-align: center;
  color: black;
  padding-top: 38%;
}

.recblock {
  width: 187px;
 height: 136px;
 border-left: 1.5px solid black;
}
nav {
height: 136px;
border-bottom: 3px solid black;
border-top: 3px solid black;
}
.gline {
  position: relative;
  width: 187px;
  height: 3px;
  background-color: black;
}

.side-button {
  width: 187px;
  height: 67px;
}

.vline {
  height: 136px;
  width: 1.5px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
